.logo img, .logo h1{
    display: inline-block;
}
.logo{
    text-align: center;
    padding-top: 10px;
}
*{
    margin: 0;
}
.container{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 100vh;
}
.content{
    float: left;
    width: 80%;
    background-color: black;
    height: 100vh;
}
.sidebar{
    float: left;
    width: 20%;
    background-color: yellow;
    height: 100vh;
}
h1, h2{
    color: yellow;
    text-align: center;
}
/* nav ul li a{
    padding: 20px;
}
nav ul li{
    list-style-type: none;
    margin-top: 50px;
    width: 200px;
    height: 100px;
    background-color: red;
}
 */
 ul {
    list-style-type: none;
    margin: 150px auto 0px auto;
    padding: 0;
    width: 150px;
}

li a {
    display: block;
    color:yellow;
    background-color:red;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    margin-bottom: 20px;
    border: 1px solid black;
    width: 10%px;
    font-size: 25px;
  }
  .padding-top{
      padding-top: 150px;
  }
  p {
      color: yellow;
  }
  .pizzor {
      margin-left: 20px;
      display: block;
      width: 500px;
      margin: 0 auto;
  }